name: Playwright Tests

on:
  schedule:
    - cron: '55 1 * * *'  # chạy mỗi ngày lúc 01:55 UTC ~ 08:55 sáng VN
  # Nếu muốn cho phép chạy tay, giữ thêm dòng này:
  # workflow_dispatch:

jobs:
  test:
    timeout-minutes: 60
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      
      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        #run: npx playwright test
        #run: npx playwright test --grep "@sanity"
        run: npm run test:sanity
      
      - name: Upload Playwright HTML Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
